.project-modal {
  position: fixed;
  background: white;
  width: 50%;
  height: 60%;
  top: -35%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 1s ease-in-out;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  &__header {
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: 1.3rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid black;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
  }

  &__description {
    margin: 2rem;
  }
}

.close-button {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;

  &__icon {
    cursor: pointer;
  }
}

.anchor-tag-container {
  display: flex;
  justify-self: end;
  width: 30rem;
  justify-content: space-between;
  margin: 3rem;
}

.anchor-tag {
  width: 12rem;
  height: 4rem;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-decoration: none;
}
