.project-modal {
  position: fixed;
  background: white;
  width: 80rem;
  height: 70rem;
  top: -100%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 1s ease-in-out;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  @include respond(tab-lab) {
    width: 80%;
    height: 80%;
  }

  @include respond(phone) {
    width: 100%;
    height: 100%;
    top: -50%;
  }

  &__header {
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 1.3rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid black;
    margin-top: 1.5rem;
    margin-bottom: 2rem;

    @include respond(tab-port) {
      font-size: 5rem;
      letter-spacing: 2rem;
      margin: 2rem 0;
    }

    @include respond(phone) {
      font-size: 6rem;
      letter-spacing: 2rem;
      margin: 10rem 0 0 0;
    }
  }

  &__description {
    margin: 2rem;
    font-size: 1.5rem;
    width: 60%;

    @include respond(tab-port) {
      font-size: 2.5rem;
    }
  }
}

.close-button {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;

  @include respond(phone) {
    right: 5rem;
    top: 4rem;
  }

  &__icon {
    cursor: pointer;
    width: 2.5rem;

    @include respond(tab-port) {
      width: 3rem;
    }

    @include respond(phone) {
      width: 4rem;
    }
  }
}

.anchor-tag-container {
  display: flex;
  justify-self: end;
  width: 60%;
  justify-content: space-around;
  margin: 3rem;
  @include respond(phone) {
    width: 80%;
  }
}

.anchor-tag {
  width: 12rem;
  font-size: 2rem;
  padding: 1rem;
  height: 4rem;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-decoration: none;

  @include respond(tab-port) {
    width: 15rem;
    font-size: 3rem;
    padding: 2rem;
  }

  @include respond(phone) {
    width: 18rem;
    font-size: 3rem;
    padding: 2.5rem;
  }
}
