.contact-modal {
  position: fixed;
  background: #f3f3f3;
  width: 50rem;
  height: 60rem;
  top: 250%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 1s ease-in-out;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  @include respond(tab-port) {
    width: 70rem;
    height: 80rem;
  }

  @include respond(phone) {
    width: 100%;
    height: 100%;
  }

  &__heading {
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: 1.3rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid black;
    margin-top: 1.5rem;
    margin-bottom: 2rem;

    @include respond(tab-port) {
      font-size: 5rem;
      margin-top: 5rem;
    }

    @include respond(phone) {
      font-size: 6rem;
      margin-top: 5rem;
    }
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include respond(phone) {
    width: 80%;
    height: 80%;
  }

  &__input {
    background-color: $color-white;
    border: none;
    height: 3rem;
    width: 30rem;
    margin: 0.5rem;

    @include respond(tab-port) {
      width: 40rem;
      height: 4rem;
    }

    @include respond(phone) {
      height: 6rem;
      width: 90%;
      margin: 1.5rem;
    }
  }

  &__message {
    background-color: $color-white;
    border: none;
    height: 20rem;
    width: 30rem;
    margin: 0.5rem;
    resize: none;

    @include respond(tab-port) {
      width: 40rem;
      height: 30rem;
    }
    @include respond(phone) {
      height: 60%;
      width: 90%;
      margin: 1.5rem;
    }
  }

  &__submit-button {
    width: 12rem;
    height: 4rem;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: transparent;
    text-decoration: none;
    margin-top: 2rem;
    cursor: pointer;
    font-size: 1.5rem;

    @include respond(tab-port) {
      width: 17rem;
      font-size: 2rem;
      height: 6rem;
    }

    @include respond(phone) {
      width: 25rem;
      height: 9rem;
      font-size: 3rem;
    }
  }
}
