.about {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-white;

  &__profile {
    width: 23rem;
    margin-bottom: 5rem;
    filter: saturate(0.5) brightness(0.7);
  }

  &__intro {
    font-size: 1.6rem;
    width: 40%;

    @include respond(desktop) {
      font-size: 2rem;
    }

    @include respond(tab-lab) {
      width: 60%;
      font-size: 2rem;
    }

    @include respond(tab-port) {
      font-size: 2.5rem;
      width: 60%;
    }

    @include respond(phone) {
      font-size: 2rem;
    }
  }
}
