.section-about-me {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
}

.profile {
  filter: grayscale(100%);
  height: 40rem;
  width: 40rem;
  margin: 8rem;
}

.about-me {
  font-size: 2.5rem;
  opacity: 0.5;

  width: 80rem;
}
