.section-about-me {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eeeeee;
}

.profile {
  filter: grayscale(50%);
  height: 40rem;
  width: 40rem;
  margin: 8rem;
}

.about-me {
  font-size: 2.5rem;
  // opacity: 0.6;

  width: 80rem;
}
