.contact {
  height: 60vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    fixed url("./assets/images/mainImage.jpg");
  background-size: cover;
  background-position: top;
  display: grid;
  grid-template-rows: 2fr 7fr 6fr 2fr 1fr;

  &__button {
    display: flex;
    width: 15rem;
    height: 5rem;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: $color-white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid white;
    justify-self: center;

    &:hover {
      border: 1px solid white;
    }
  }
}

.up-arrow {
  justify-self: center;
  align-self: center;

  &:hover > &__icon {
    animation: blinkingPointerGoBack 2s infinite;
  }
}

.comment {
  color: $color-white;
  font-size: 4.5rem;
  font-weight: 600;
  justify-self: center;
  align-self: center;
}

.copyright {
  color: $color-gray;
  justify-self: center;
  align-self: center;
  margin-bottom: 0.5rem;

  &__name {
    text-decoration: none;
    color: $color-gray;
  }
}
