.contact {
  height: 60rem;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    fixed url("./assets/images/mainImage.jpg");
  background-size: cover;
  background-position: top;
  display: grid;
  grid-template-rows: 2fr 7fr 6fr 1fr 1.5fr;
  grid-template-columns: 5.5fr 1fr 5.5fr;
  grid-template-areas:
    ". up-arrow ."
    "comment comment comment"
    "button button button"
    ". logo ."
    "copyright copyright copyright";

  &__button {
    display: flex;
    width: 15rem;
    height: 5rem;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: $color-white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid white;
    justify-self: center;
    font-size: 1.5rem;
    grid-area: button;

    &:hover {
      border: 1px solid white;
    }

    @include respond(phone) {
      width: 25rem;
      height: 10rem;
      font-size: 2.5rem;
    }
  }
}

.up-arrow {
  justify-self: center;
  align-self: center;
  width: 2.5rem;
  grid-area: up-arrow;

  &__icon {
    width: 2.5rem;
  }

  &:hover > &__icon {
    animation: blinkingPointerGoBack 2s infinite;
  }
}

.comment {
  color: $color-white;
  font-size: 3rem;
  font-weight: 600;
  justify-self: center;
  align-self: center;
  grid-area: comment;
}

.copyright {
  color: $color-gray;
  justify-self: center;
  align-self: center;
  margin-bottom: 0.5rem;
  font-size: 2rem;
  grid-area: copyright;

  &__name {
    text-decoration: none;
    color: $color-gray;
  }
}
