.contact {
  height: 50rem;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    fixed url("./assets/images/mainImage.png");
  background-size: cover;
  background-position: top;
  display: grid;
  grid-template-rows: 2fr 6fr 4fr 1fr 1.5fr;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas:
    ". up-arrow ."
    ". comment ."
    "button button button"
    ". logo ."
    "copyright copyright copyright";

  &__button {
    display: flex;
    width: 15rem;
    height: 5rem;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: $color-white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid rgb(185, 185, 185);
    justify-self: center;
    font-size: 1.5rem;
    grid-area: button;

    @include respond(tab-port) {
      width: 20rem;
      height: 7rem;
      font-size: 2rem;
    }

    @include respond(phone) {
      width: 25rem;
      height: 10rem;
      font-size: 2.5rem;
    }
  }
}

.up-arrow {
  justify-self: center;
  align-self: center;
  width: 2.5rem;
  grid-area: up-arrow;
  cursor: pointer;

  &__icon {
    width: 2.5rem;
  }

  &:hover > &__icon {
    animation: blinkingPointerGoBack 2s infinite;
  }
}

.contact-heading {
  &__secondary {
    color: $color-white;
    font-size: 3rem;
    font-weight: 600;
    grid-area: comment;
    text-align: center;
  }
}

.copyright {
  color: $color-gray;
  justify-self: center;
  align-self: center;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  grid-area: copyright;

  &__name {
    text-decoration: none;
    color: $color-gray;
  }
}
