.portfolio {
  height: 100vh;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.heading__secondary {
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: 1.3rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid black;
  margin: 2rem;
}
