.carousel {
  display: flex;
  width: 100%;
  justify-content: center;

  &__images-container {
    width: 350px;
    height: 300px;
    overflow: hidden;
    @include respond(tab-port) {
      width: 250px;
      height: 250px;
    }
  }

  &__images {
    display: flex;
    width: 350px;
    height: 300px;
    grid-area: picture;

    transform: translateX(-350px);

    @include respond(tab-port) {
      width: 250px;
      height: 250px;
      transform: translateX(-250px);
    }
  }

  &__image {
    width: 350px;
    height: 300px;

    @include respond(tab-port) {
      width: 250px;
      height: 250px;
    }
  }

  &__button--previous {
    margin-right: 10%;
    z-index: 3;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;

    @include respond(phone) {
      margin-right: 5%;
    }

    &:focus {
      outline: 0;
    }
  }

  &__button--next {
    margin-left: 10%;
    z-index: 3;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;

    @include respond(phone) {
      margin-left: 5%;
    }

    &:focus {
      outline: 0;
    }
  }
}

.button__icon {
  @include respond(phone) {
    width: 5rem;
  }
}
