.carousel {
  width: 300px;
  overflow: hidden;
  @include respond(tab-lab) {
    width: 250px;
  }

  &__images {
    display: flex;
    width: 300px;
    transform: translateX(-300px);

    @include respond(tab-lab) {
      width: 250px;
      transform: translateX(-250px);
    }
  }

  &__image {
    width: 300px;

    @include respond(tab-lab) {
      width: 250px;
    }
  }

  &__button--previous {
    position: absolute;
    top: 39%;
    z-index: 3;
    left: 5%;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;

    @include respond(phone) {
      top: 45%;
    }

    &:focus {
      outline: 0;
    }
  }

  &__button--next {
    position: absolute;
    top: 39%;
    z-index: 3;
    right: 5%;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;

    @include respond(phone) {
      top: 45%;
    }

    &:focus {
      outline: 0;
    }
  }
}

.button__icon {
  @include respond(phone) {
    width: 5rem;
  }
}
