.landing-page {
  height: 100vh;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.7)
    ),
    url("./assets/images/mainImage.webp");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  // background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  animation-name: moveInUp;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
}

.heading__primary {
  color: $color-white;
  text-transform: uppercase;
  border: 1px solid $color-white;
  border-color: $color-border-white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 8% 7%;

  @include respond(phone) {
    padding: 20% 10%;
  }

  animation-name: moveInDown;
  animation-duration: 2.5s;
  animation-timing-function: ease-in;

  &-main {
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: 1.3rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid $color-white;
    border-bottom-color: $color-border-white;
  }

  &-sub {
    display: block;
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 1rem;
    padding-top: 0.7rem;
  }
}

.start-button {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  bottom: 1%;

  &__label {
    color: $color-white;
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 0.5rem;

    justify-self: center;
    cursor: pointer;
    animation: logoStart 3.5s;
    animation-direction: normal;
    text-decoration: none;
  }

  &__icon {
    opacity: 0;
    width: 2.5rem;
    justify-self: center;
    margin-top: 0.5rem;
  }

  &:hover > &__icon {
    animation: blinkingPointerStart 2s infinite;
    opacity: 1;
  }
}
