.wrapper {
  height: 100vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)),
    fixed url("./assets/images/mainImage.jpg");
  background-size: cover;
  background-position: top;
  display: grid;
  grid-template-columns: 17rem 1fr 1.5fr 1fr 15rem 2rem;
  grid-template-rows: 2rem 5rem 1fr 1.5fr 1fr 7rem;
  grid-template-areas:
    ". . . . . . "
    ". . . . logo ."
    ". . . . . . "
    ". . header . . ."
    ". . . . . ."
    ". . . . . . ";

  user-select: none;

  animation-name: moveInUp;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}
.heading__primary {
  color: $color-white;
  text-transform: uppercase;
  border: 1px solid $color-white;
  border-color: rgba(220, 255, 255, 0.35);
  grid-area: header;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  animation-name: moveInDown;
  animation-duration: 2s;
  animation-timing-function: ease-in;

  &-main {
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: 1.3rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid $color-white;
    border-bottom-color: rgba(255, 255, 255, 0.35);
  }

  &-sub {
    display: block;
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 1rem;
    padding-top: 0.7rem;
  }
}

.logo_container {
  width: 20rem;
  height: 20rem;
}
