@import "sass/base/animations";
@import "sass/abstracts/variables";
@import "sass/abstracts/mixins";

@import "app/IntroPage/IntroPage";
@import "app/IntroPage/LogoContainer/LogoContainer";
@import "app/AboutMe/AboutMe";
@import "app/Portfolio/Portfolio";
@import "app/Navigation/Navigation";
@import "app/Portfolio/Project/Project";
@import "app/ProjectModal/ProjectModal";
@import "app/ProjectModal/Carousel/Carousel";
@import "app/Contact/Contact.scss";
@import "app/ContactForm/ContactForm.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  @include respond(big-desktop) {
    font-size: 62.5%;
  }

  @include respond(desktop) {
    font-size: 50%;
  }

  @include respond(tab-land) {
    font-size: 45%;
  }

  @include respond(tab-port) {
    font-size: 35%;
  }
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  box-sizing: inherit;
  user-select: none;
}

#page-wrapper {
  transition: $transition-navigation;
  backface-visibility: hidden;
}
