.logo-container {
  display: flex;
  justify-content: space-between;

  &:hover .logo {
    opacity: 0.3;
    transition: 0.5s;
  }
}

.logo {
  transition: 0.5s;
  margin: 0 0.8rem;
  &:hover {
    opacity: 1 !important;
  }
}
