.project {
  position: relative;
  width: calc(100% / 3 - 4rem);
  margin: 2rem;

  &__caption {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr 1fr 1.5fr;
    grid-template-areas:
      ". . ."
      "description description description"
      ". button ."
      ". . .";
    width: 100%;
    height: 25rem;

    position: absolute;
    top: 0;
    left: 0;

    transition: all 0.5s ease-in-out;
    color: white;
    opacity: 0;
  }

  &__cover-image {
    width: 100%;
    height: 25rem;
    transition: all 0.5s ease-in-out;
    filter: saturate(0.5);
  }

  &__gradient-cover {
    position: absolute;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.3)
    );
    width: 100%;
    height: 25rem;
    top: 0;
    left: 0;
  }

  &__description {
    grid-area: description;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__name {
    letter-spacing: 0.7rem;
    padding-bottom: 0.5rem;
    border-bottom: 0.5px solid $color-white;
    font-size: 2rem;
    font-weight: 400;
    padding: 0.5rem;
    text-align: center;
  }

  &__tech {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    font-weight: 300;
  }

  &__button {
    grid-area: button;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: $color-white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid transparent;
    font-size: 1.5rem;

    &:hover {
      border: 1px solid white;
    }
  }

  &:hover &__cover-image {
    filter: brightness(30%);
  }
  &:hover &__caption {
    opacity: 1;
  }
}
